*.a
*.cache
*.gz
*.log
*.o
*.status
*.swp
*.tar
*_test.sh
*.trs
*~

/aclocal.m4
/autogen.sh
/compile
/config.h
/config.h.in
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
/test-driver
/ylwrap

.deps
Makefile
Makefile.in
parser.output
tags
TAGS
